<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

<!--    <properties resource="generatorConfig.properties"/>-->
        <!-- 加载到classpath -->
<!--    <classPathEntry location="/home/houzw/document/git-rep/hzw-springboot-demo/hzw-springboot-demo-infrastructure/target/classes" />-->

    <context id="demoTable" targetRuntime="MyBatis3">

<!-- <jdbcConnection>:此处是用于连接数据库的配置，配置自己的数据库以及用户名和密码即可。-->
<!-- <javaModelGenerator>:此处是配置实体类的位置和包名。其中，targetPackage从src/main/java或src/main/resources之后的路径写。targetProject：配置项目路径。-->
<!-- <sqlMapGenerator>生成映射文件存放位置：-->
<!-- <javaClientGenerator >生成dao存放位置：-->
<!-- <table>用于配置需要生成mybatis相关的数据库表名称和生成 的domain名称。-->

        <plugin type="com.houzw.demo.plugin.CustomMybatisPlugin"></plugin>

        <!-- 公共设置 -->
        <commentGenerator>
            <!-- 是否取消自动生成时的注释 -->
            <property name="suppressAllComments" value="true"/>
            <!-- 是否取消在注释中加上时间 -->
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 链接数据库的配置 MySQL8之前的驱动com.mysql.jdbc.Driver，新的驱动com.mysql.cj.jdbc.Driver，并且要加时区-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.32.201:3306/hzwcolatest?useUnicode=true&amp;characterEncoding=utf-8&amp;tinyInt1isBit=false&amp;allowMultiQueries=true"
                        userId="root" password="root"/>

        <!--  生成实体类
             targetPackage 生成类的包，真实的包受enableSubPackages属性控制
             targetProject 目录所属位置(目录不存在，不会自动创建)
         -->
        <javaModelGenerator targetPackage="com.houzw.demo.database.dataobject" targetProject="src/main/java">
            <!-- 在targetPackge的基础上根据schema再生成一层package 默认flase -->
            <!--<property name="enableSubPackages" value="true"/>-->
            <!-- 是否在get方法中 对String类型的字段调用trim() -->
            <!--<property name="trimStrings" value="true"/>-->
            <!-- 是否生成一个包含所有字段的构造器 -->
            <property name="constructorBased" value="false"/>
            <!-- 是否创建一个不可变类-->
            <property name="immutable" value="false"/>
            <property name="rootClass" value="com.houzw.demo.database.dataobject.BaseDO"/>
        </javaModelGenerator>


        <!-- 生成映射文件 -->
        <sqlMapGenerator targetPackage="mybatis" targetProject="src/main/resources">
            <!--<property name="enableSubPackages" value="true"/>-->
        </sqlMapGenerator>

        <!-- 生成dao层 -->
        <javaClientGenerator type="mapper" targetPackage="com.houzw.demo.database" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>


        <!--需要生成的代码对应的表名
            tableName 代表你的数据库表，
            domainObjectName 映射后的对象名称-->
        <table tableName="hzw_user" schema="" domainObjectName="UserDO"
               enableCountByExample  = "false"
               enableUpdateByExample = "false"
               enableDeleteByExample = "false"
               enableSelectByExample = "true"
               selectByExampleQueryId= "false"
        >
            <!-- 表中字段是xx_xx这种的  默认驼峰命名 即xxXX  如果想使用原字段 要新增属性 -->
            <!--<property  name="useActualColumnNames"  value="true" />-->

            <!-- insert 会返回成功插入的ID-->
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>


    </context>
</generatorConfiguration>